ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #da1e1e;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.search-container {
    float: right;
}


.search-container input[type="text"] {
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
}

.search-container button {
    padding: 10px;
    margin-top: 8px;
    background: #ddd;
    font-size: 14px;
    border: none;
    cursor: pointer;
}