.lang {
    margin-left: 80px;
    border: none;
    display: inline-block;
}

.language {
    font-size: large;
    margin: 2px;
    display: inline-block;
    margin-right: 10px;
}

#globe {
    color: rgb(206, 14, 14);
}

.contact {
    display: inline;
    margin: auto;
    font-size: 300;
    margin-left: 800px;
    
}

header {
    background-color: rgb(203, 16, 16);
    color: white;
    margin-top: 2px;
    padding: 10px;
}

span {
    padding-top: 5px;
    float: left;
    font-size: 40px;
    margin: 0%;
}

ul {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    list-style-type: none;
    margin-left: 280px;
}

ul li {
    display: inline-block;
}

ul li a {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.search {
    display: inline-block;
    background-color: white;
    margin-left: 40px;
    padding: 5px;
    padding-left: 10px;
}
#search {
    color: rgb(155, 152, 152);
}
.one {
    width: 200px;
    font-size: 20px;
    border: none;
}

